@model TMSBilling.Models.TruckSize

<form id="truckSizeForm">
    <input type="hidden" asp-for="ID" />

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label text-end">Truck Size ID</label>
        <div class="col-sm-8">
            <input asp-for="trucksize_code" class="form-control" />
            <span asp-validation-for="trucksize_code" class="text-danger"></span>
        </div>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </div>
</form>
