@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Title"] = "Import Excel Order";
}

<div class="container">
    <div class="d-flex align-items-center gap-2">
        <form id="uploadForm" enctype="multipart/form-data" class="d-flex align-items-center gap-2 flex-wrap">
            <a href="/Order/Index" class="btn btn-sm btn-primary mb-0"> <i class="bi bi-arrow-left"></i> Back</a>
            
            <div class="d-flex align-items-center mb-0">
                <input type="file" name="file" id="excelFile" accept=".xlsx" class="form-control ms-2 mb-0">
                <select id="operationType" name="operationType" class="form-select ms-3 me-2" style="width: 200px;">
                    <option value="add">Add</option>
                    <option value="edit">Edit</option>
                </select>
            </div>

            <div class="">
                <a href="/Order/DownloadSample" class="btn btn-success btn-sm">Download Sample</a>
                <button type="submit" class="btn btn-primary btn-sm">Check Data</button>
            </div>
        </form>
    </div>
    <hr />
    <div id="previewArea" style="display:none">
        <div class="text-end mt-2">
            <button class="btn btn-warning btn-sm" id="submitFinal"> <i class="bi bi-send me-1"></i> Submit</button>
        </div>

        <div class="mt-0">
            <h6>Error Log</h6>
            <pre id="previewError" style="background:#f8f9fa;padding:10px; border:1px solid #ccc;"></pre>
        </div>

        <div class="mt-0 d-none">
            <h6>Raw JSON:</h6>
            <pre id="previewJson" style="background:#f8f9fa;padding:10px; border:1px solid #ccc;"></pre>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let parsedData;

        $("#uploadForm").on("submit", function (e) {
            e.preventDefault();
            const formData = new FormData(this);
            showLoading();
            $.ajax({
                url: '/Order/Preview',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: res => {
                    hideLoading();
                    parsedData = res;
                    $("#previewArea").show();
                    $("#previewError").text(null);
                   
                    if (res.isValid === false) {
                        let html = "<ul>";
                        res.errors.forEach(e => {
                            html += `<li><strong>Row ${e.row} [${e.section}]</strong>: (${e.field}) ${e.message}</li>`;
                        });
                        html += "</ul>";
                        Swal.fire({
                            icon: 'error',
                            title: 'Invalid Data!',
                            text : 'Please corect your data'
                            // html: html
                        });

                        $("#previewError").html(html);
                    }else{

                        // saveData();

                        Swal.fire({
                        icon: "question",
                        title: "Data valid",
                        text : "Do you want to save?",
                                  showDenyButton: false,
                                  showCancelButton: true,
                                  confirmButtonText: "Save",
                                  denyButtonText: `Don't save`
                        }).then((result) => {
                                  /* Read more about isConfirmed, isDenied below */
                           if (result.isConfirmed) {
                              saveData();
                           } else if (result.isDenied) {
                              Swal.fire("Changes are not saved", "", "info");
                           }
                        });
                    }
                },
                error: err => {
                    hideLoading();
                    Swal.fire("Error", "Gagal membaca file", "error");
                }
            });
        });

        $("#submitFinal").on("click", function () {
             saveData();
        });

        function saveData (){
            if(!parsedData.isValid){
                Swal.fire("Invalid Data!", "Please correct your data", "error");
                return;
            }

            if (!parsedData || parsedData.data.length === 0) {
                Swal.fire("Warning", "Data kosong, tidak bisa submit!", "warning");
                return;
            }

            console.log("DATA YANG DIKIRIM : ", parsedData.data);

            // return;

            showLoading();
            $.ajax({
                url: '/Order/SaveExcel',
                type: 'POST',
                data: JSON.stringify(parsedData.data),
                contentType: 'application/json',
                success: function (res){

                    if(res.success){
                        hideLoading();
                        Swal.fire({
                          position: "center",
                          icon: "success",
                          title : "Success!",
                          text: res.message,
                          showConfirmButton: false,
                          timer: 1500
                        }).then(function(){
                            window.location.href = '/Order/Index'
                        })
                    }else{
                         $("#previewJson").text(JSON.stringify(res, null, 2));
                    }

                },
                error: function (xhr) {
                    hideLoading();
                    try {
                        const err = JSON.parse(xhr.responseText);
                        $("#previewJson").text(JSON.stringify(err, null, 2));
                    } catch {
                        $("#previewJson").text(xhr.responseText);
                    }
                }
            });
        }

        function renderHeader(data) {
            const headers = data.map(x => x.header);
            const keys = Object.keys(headers[0] || {});
            $("#theadHeader").html(keys.map(k => `<th>${k}</th>`).join(''));
            $("#tbodyHeader").html(
                headers.map(h => `
                    <tr>${keys.map(k => `<td>${h[k] ?? ''}</td>`).join('')}</tr>
                `).join('')
            );
        }

        function renderDetail(data) {
            const details = data.flatMap(x => x.details || []);
            const keys = Object.keys(details[0] || {});
            $("#theadDetail").html(keys.map(k => `<th>${k}</th>`).join(''));
            $("#tbodyDetail").html(
                details.map(d => `
                    <tr>${keys.map(k => `<td>${d[k] ?? ''}</td>`).join('')}</tr>
                `).join('')
            );
        }
    </script>
}

