@model TMSBilling.Models.ProductStore

<form id="productForm" method="post" asp-action="Form" asp-controller="Product">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">SKU</label>
        <input type="text" asp-for="Sku" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Product Type</label>
        <select asp-for="ProductTypeId" class="form-control" asp-items="ViewBag.TypeList">
            <option value="">-- Select Type --</option>
        </select>
    </div>

    <div class="row">
        <div class="mb-3 col-md-4">
            <label class="form-label">Weight</label>
            <input type="number" asp-for="Weight" class="form-control" />
        </div>

        <div class="mb-3 col-md-4">
            <label class="form-label">Volume</label>
            <input type="number" asp-for="Volume" class="form-control" />
        </div>

        <div class="mb-3 col-md-4">
            <label class="form-label">UoM</label>
            <input type="text" value="PCS" asp-for="Uom" class="form-control" />
        </div>
    </div>



    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" asp-for="Price" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>
